<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" >

    <!-- Section: Links  -->
    <section class="mt-5 footer-section">
      <div class="container text-center text-md-start">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3">Tienda Express</i>
            </h6>
            <p>
             Aqui encontraras enlaces que pueden ser de utilidad y obtener mas información.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Mesa de ayuda
            </h6>
            <p>
              <a href="#!" class="text-reset">FAQ</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Información de la compañía
            </h6>
            <p>
              <a href="#!" class="text-reset">¿Quienes somos?</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home"></i> Cali, Colombia</p>
            <p>
              <i class="fas fa-envelope"></i>
              tiendaexpress@express.com
            </p>
            <p><i class="fas fa-phone"></i> + 57 234 567 88</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 copyright-section">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#">Juan Sebastián Castellar</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
