<nav class="navbar navbar-dark mb-5" style="color:#fff;background-color: #66D96E;">
    <div class="container-fluid">
            <a [routerLink]="['/']" class="navbar-brand">Tienda Express</a>

        <div class="navbar-nav me-auto">
            <div class="nav-item">
            <a [routerLink]="['products/index']" class="nav-link" style="color:whitesmoke;">Productos</a>
            </div>
        </div>

        <div class="nav-item ms-auto">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>     
        
            <button mat-icon-button>
                <mat-icon>person</mat-icon>
            </button> 
        </div>    
         
        <div>Admin</div> 
           
    </div>
        
</nav>

<router-outlet></router-outlet>

<!-- [routerLink]="['/']"  (click)="goHome()"-->

<app-footer></app-footer>